body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: fantasy;
    background: linear-gradient(135deg, #354eb6, #357ba9, #fdbb2d);
}
.quote-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(-135deg, #dee5e5, #df6320, rgb(94, 180, 28));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quote {
    font-size: 24px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.quote.show {
    opacity: 1;
}
.author {
    font-size: 18px;
    color: #555;
}
#new-quote {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #00FA9A, #FFFAFA);
    color: black;
    cursor: pointer;
    font-family: fantasy;
}
#new-quote:hover {
    background-color: #0056b3;
}